.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-container {
  background-color: rgb(255, 255, 255);
  height: 450px;
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
  min-width: 250px;
}
